.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#23272F;
    color: #fff;
    z-index: 99999999;
    width: 100%;
}

@media (max-width: 600px) {
  .header {
    width: 300px;
  }

  .header-btn {
    width: 100px;
  }
}

.create-event-button {
    padding: 10px 20px;
    margin-right: 30px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4fad19;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
  }
  
  .create-event-button:hover {
    background-color: #1b8c11;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .header-btn {
    display: flex;
    column-gap: 20px;
    margin-right: 30px;
  }