.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-event-button {
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
  }
  
  .create-event-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }