/* In Homesection.css */
.homesection {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust the height as needed */
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 5px;
  }
  
  input[type='text'] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fb7c0d;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  